{% extends "base.html" %}
{% load static %}




{% block title %}
    <title>About</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock %}


{% block content %}
    <section class="detail">
        <div class="box-container">
            <div class="text">
                <h1>About Us</h1>
                <p>We are the search-based <br>website providing the <br>information about dairy farms in <br>The republic of India.</p>
            </div>
            <div >
                <img class="img" src="https://clv.h-cdn.co/assets/17/43/3200x3200/square-1509123692-cow-eating-grass.jpg">
            </div>  
        </div>
    </section>


{% endblock %}