{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
</head>
<body>
    <header class="navigationbar">
        <div><h2 class="logo">Logo</h2></div>
        <div >
            <a href="#">Services</a>
            <a href="#">Contact us</a>                                    
            <button class="loginbutton">Login</button> 
        </div>
    </header>
    <section class="detail">
        <div class="box-container">

        <h1>About Us</h1>
        <p>We are the search-based <br>website providing the <br>information about dairy farms in <br>The public of India</p>
        </div>
        <img src="https://clv.h-cdn.co/assets/17/43/3200x3200/square-1509123692-cow-eating-grass.jpg">
    </section>
    <section class="footer-container">
        <h2 class="footer-text">
            About us
        </h2>
    </section>
</body>
</html>