{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    {% block title %}
    
    {% endblock %}
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <div class="logo">
                    <a class="logo-img" href="home"><img src="{% static 'img/logo.png' %}" alt="logo" width="25%"></a>
                </div>
                <ul class="menu" id="myMenu">
                    <li><a class="navRight-a" href="pincode">Pincode</a></li>
                    <li><a class="navRight-a" href="about">About</a></li>
                    <li><a class="navRight-a" href="contact">Contact us</a></li>
                    <li><a class="navRight-a" href="user"><span class="material-symbols-outlined">person</span></a></li>
                </ul>
                <div class="ham-menu" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </div>
    </nav>
    <div >
        {% block content %}

        {% endblock %}
    </div>
    <div class="footer-container">
        <h1 class="footer-text">
            Order 66 
        </h1>
        <ul style="color: aliceblue; display: flex; list-style: none; margin-top: 10px;">
            <li style="margin-right: 10px;">HOME</li>
            <li  style="margin-right: 10px;">PINCODE</li>
            <li  style="margin-right: 10px;">ABOUT</li>
            <li  style="margin-right: 10px;">CONTACT US</li>
            <li>USER</li>
        </ul>
        <h2 style="color: aliceblue; margin-top: 10px;">THANK YOU</h2>

    </div>
    <script>
        function myFunction(x) {
            x.classList.toggle("change");
            var myMenu = document.getElementById("myMenu");
            if (myMenu.className === "menu") {
                myMenu.className += ' menu-active';
            } else {
                myMenu.className = "menu";
            }
        }
        
    </script>
</body>
</html>