{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    {% block title %}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <div class="logo">
                    <a class="logo-img" href="search"><img src="{% static 'img/logo.png' %}" alt="logo" width="25%"></a>
                </div>
                <ul class="manu" id="myMenu">
                    <a class="navRight-a" href="#">Services</a>
                    <a class="navRight-a" href="contact">Contact us</a>
                    <a class="navRight-a" href="user"><span class="material-symbols-outlined">person</span></a>
                </ul>
                <div class="ham-manu" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                  </div>
            </div>
        </div>
    </nav>
    <div >
        {% block content %}

        {% endblock %}
    </div>
    <div class="footer-container">
        <h2 class="footer-text">
            About us
        </h2>
    </div>
    <script>
        function myFunction(x) {
            x.classList.toggle("change");
            let myMenu = document.getElementById('myMenu')
            if (myMenu.className === 'manu') {
                myMenu.className += ' manu-active'
            }
            else {
                myMenu.className = 'manu'
            }
        }
    </script>
</body>
</html>