{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'contact.css' %}">
{% endblock %}

{% block content %}
    <div class="main_container">
        <div class="contact_us">
            <h2 class="contact_text">Contact Us</h2>
            <div class="text_dec">
                <div class="emoji_size">&#128231 </div>
                <div><p>dairyfinder@gmail.com</p></div>
            </div> 
            <div class="text_dec">
                <div class="emoji_size">&#128222 </div>
                <div><p>08x xxx xxxx</p></div>
            </div> 
            <div class="text_dec">
                <div class="emoji_size">&#128204 </div>
                <div><p> 99 Moo 18, Km. 41 on Paholyothin Highway </br>Khlong Luang, Pathum Thani 12120, Thailand</p></div>
            </div> 
            <div class="open_time">
                <div class="emoji_size">&#9200</div>
                <p>Monday - Friday </br>Saturday - Sunday </p>
                <p class="time_self"> 9 am  -   7 pm </br>10 am  -  9 pm</p>
            </div>  
        </div>
        <div class="map_pic">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.140305491648!2d100.60488277514227!3d14.068890986356873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e27f8adde458f3%3A0x536c67b40b52eabe!2z4Liq4LiW4Liy4Lia4Lix4LiZ4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14LiZ4Liy4LiZ4Liy4LiK4Liy4LiV4Li04Liq4Li04Lij4Li04LiZ4LiY4LijIOC4oeC4q-C4suC4p-C4tOC4l-C4ouC4suC4peC4seC4ouC4mOC4o-C4o-C4oeC4qOC4suC4quC4leC4o-C5jCAtIOC4qOC4ueC4meC4ouC5jOC4o-C4seC4h-C4quC4tOC4lQ!5e0!3m2!1sth!2sth!4v1698555242980!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
{% endblock %}
