<div>
    <h1>{{ item_id }} item</h1>
    <form action="" meythod="post">
        {% csrf_token %}
        <div>
            <label for="location">Number of Cows</label>
            <input value="{{form_data.location}}" type="text" name="location">
        </div>
        <div>
            <label for="tot_land_area">Total Land Area (acres)</label>
            <input value="{{form_data.tot_land_area}" type="number" name="tot_land_area">
        </div>
        <div>
            <label for="num_cows">Number of Cows</label>
            <input value="{{form_data.num_cows}" type="number" name="num_cows">
        </div>
        <div>
            <label for="price">Product Price</label>
            <input value="{{form_data.price}" type="number" name="price">
        </div>
        <div>
            <label for="recording_date">Date</label>
            <input value="{{form_data.recording_date}" type="date" name="recording_date">
        </div>
        <div>
            <label for="farm_size">Farm Size</label>
            <input value="{{form_data.farm_size}" type="text" name="farm_size">
        </div>
        <div>
            <label for="product_type">Date</label>
            <input value="{{form_data.product_type}" type="text" name="product_type">
        </div>
        <div>
            <label for="quantity">Quantity (liters/kg)</label>
            <input value="{{form_data.quantity}" type="date" name="quantity">
        </div>
        <div>
        <input type="submit">
        </div>
    </form>
</div>