<div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <div style="background-color: black; height: 30rem; width: 20rem; color: aliceblue;
                display: flex; flex-direction: column;align-items: center;
                ">
        <h1 style="color: aliceblue;">{{ item_id }} item</h1>
        <h2 style="margin: 0 0 10px 0;">Edit</h2>
        <form style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; 
                    padding: 0 auto;" action="" method="post">
            {% csrf_token %}
            
                <label style="font-size: larger;" for="Email">Email</label>
                <input style="width: 60%;" value="{{form_data.Email}}" type="text" name="Email">
            
                <label style="font-size: larger;margin-top: 10px;"for="Username">Username</label>
                <input style="width: 60%;" value="{{form_data.Username}}" type="text" name="Username">
            
            
                <input style="width: 20%; margin: 10px 0 10px 0;" type="submit">
                <input style="width: 20%;" type="reset">
            
        </form>
    </div>
    
</div>