{% load static %}

<!DOCTYPE html>
<html leng="en">
    
<head>
    <meta charset="utf-8">
    <title>landing page</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    </style> 
</head>

<body>
    <div class="colorBack">
        <div class="wrap">
            <h2 class="first_text">Welcome to your Dairy assistances</h2>
            <h1 class="second_text">Dairy Finder</h1>
            <h3 class="third_text">The republic of India</h3>
            <a href="login"><button class="login_btn">Log in</button></a>
            
        </div>
    </div>
    

</body>

</html>