{% load static %}
<!DOCTYPE html>
<html leng="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'login_register.css' %}">
</head>
<body>
    <div class="main_container">
        <div class="left_window">
            <img class="img1" src="{% static 'img/login_cow.png' %}" alt="login_cow">
           
        </div>
        <div class="right_window">
            <div class="sub_container">
                <img src="{% static 'img/logo.png' %}" alt="login_bg" width="150">
                <form action="/register" method="post">    
                    {% csrf_token %}    
                    <input class="registext" value="{{form_data.regis_email}}" type="text" placeholder="Email" name="regis_email"  autofocus>
                    </br>
                    <input class="registext" value="{{form_data.regis_username}}" type="text" placeholder="Username" name="regis_username" >
                    </br>
                    <input class="registext" value="{{form_data.regis_password}}" type="password" placeholder="Password" name="regis_password">
                    </br>
                    <input class="registext" value="{{form_data.regis_conpassword}}" type="password" placeholder="Confirm Password" name="regis_conpassword" >
                    </br>
                    <button onclick="insert()" class="btn--1" type="submit" >Create Account</button>
                    </br>
                </form>  
            </div>
        </div>
    </div>
    <script> 
        function insert(){  
            console.log(insert)
            alert('create account completed')
        }
    </script>
</body>