{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Search</title>
<link rel="stylesheet" href="{% static 'search.css' %}">
{% endblock %}
{% block content %}
<body>
    <div class="full">
        <div class="left">
        </div>
        <div class="right">
            <div class="home">
                <h1>Dairy Finder</h1> <br>
                <h2>The Republic of India</h2> <br><br>
                <div class="dropdown">
                    <p> Farm Size </p>
                    <form>
                        <select id="fsize">
                            <option>small</option>
                            <option>medium</option>
                            <option>large</option>
                        </select>
                    </form>
                </div> <br>
                <div class="dropdown">
                    <p> Product Type </p>
                    <form>
                        <select id="fsize">
                            <option>Ice Cream</option>
                            <option>Milk</option>
                            <option>Yogurt</option>
                            <option>Cheese</option>
                            <option>Buttermilk</option>
                            <option>Curd</option>
                            <option>Paneer</option>
                            <option>Lassi</option>
                            <option>Ghee</option>
                            <option>Butter</option>
                        </select>
                    </form>
                </div> <br>
                <div class="dropdown">
                    <p> Quantities (liters/kg) </p>
                    <form>
                        <select id="fsize">
                            <option>1-100</option>
                            <option>101-200</option>
                            <option>201-300</option>
                            <option>301-400</option>
                            <option>401-500</option>
                            <option>501-600</option>
                            <option>601-700</option>
                            <option>701-800</option>
                            <option>801-900</option>
                            <option>901-1000</option>
                        </select>
                    </form>
                </div> <br>

                <a href="result"><button onclick="generate()">Submit</button></a>
            </div>

        </div>
    </div>
</body>
{% endblock %}