{% extends "base.html" %}
{% load static %}




{% block title %}
    <title>User</title>
    <link rel="stylesheet" href="{% static 'user.css' %}">
{% endblock %}


{% block content %}
    <div class="main_container">
        <div class="profile">
            <p> &#128231 Email:</p>
            <p style="padding-top: 50px;"> &#129337 Username:</p>
            <p style="padding-top: 50px;"> &#128274 Tag:</p>
        </div>
        <div class="main_buttons">
            <button class="back_home">Back To Home</button>
            </br>
            </br>
            <button class="del">Delete Account</button>
        </div>
    </div>


{% endblock %}