{% extends "base.html" %}
{% load static %}




{% block title %}
    <title>User</title>
    <link rel="stylesheet" href="{% static 'user.css' %}">
{% endblock %}


{% block content %}
    <div class="main_container">
        <div class="profile">
            <p> &#128231 Email:</p>
            <p style="padding-top: 50px;"> &#129337 Username:</p>
            <p style="padding-top: 50px;"> &#128274 Tag:</p>
        </div>
        <div class="main_buttons">
            <button onclick="edit()" class="back_home"><a style="text-decoration: none;" href="edit/{{row.id}}">Edit Password</a></button>
            </br>
            </br>
            <button onclick="remove()" class="del"><a style="text-decoration: none;" href="edit/{{row.id}}">Delete</a></button>
            <br>
            <br>
            <button  style="background-color: black;"><a style="color: #fff ;text-decoration: none;" href="logout">Logout</a></button>
        </div>
    </div>
    
    <script> 
        function remove(){
            console.log(remove)
            alert('Account deleted')
        }

        function edit(){
            console.log(edit)
            alert('Account edited')
        }
    
    </script>
    
    {% endblock %}
    
    
