{% load static %}


<!DOCTYPE html>
<html leng="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'user.css' %}">
</head>
<body>
    <div class="main_container">
        <div class="profile">
            <p> &#128231 Email:</p>
            <p> &#129337 Username:</p>
            <p> &#128274 Tag:</p>
        </div>
        <div class="main_buttons">
            <button class="back_home">Back To Home</button>
            </br>
            </br>
            <button class="del">Delete Account</button>
        </div>
    </div>
</body>
</html>