.detail {
    background-image: url("https://images.rawpixel.com/image_1000/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA5LzNkd29ybGQtMDEwOTIzLXJlbWl4LXRlLTAwMy5qcGc.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
  }
  
  .box-container {
    display: flex;
    align-items: center;
  }
  .detail h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 80px;
  }
  
  .detail p {
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 500;
  }
  
  .detail img{
    height: 495px;
    width: 394px;
  
  }