
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0px 30px;
  
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
  background-color:#527BB2;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-wrapper .logo .logo-img {
  width: 50px;
}

.manu {
  list-style: none;
}
.manu a {
  text-decoration: none;
  margin-left: 20px;
  color: #fff;
  font-size: larger;
}

.footer-container {
  
  background: #404143;
  width: 1440ps;
  height: 50px;
  display: flex;
  align-items: center;
}

.footer-text {
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  font-size: 25px;
  padding-left: 30px;

}
.ham-manu {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.manu-active {
  display: block !important;
}
@media only screen and (min-width: 391px) {
  .ham-manu {
    display: none;
  }
}
@media only screen and (max-width: 391px) {
  .manu {
    display: none;
  }

  .nav-wrapper {
    padding: 1rem;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  

}