
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  height: 70px;
  width: 100%;
  padding: 20px 100px;
  background: #527BB2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  display: flex;
}

.logo {
  margin-left: 10px;
  display: flex;
  align-items: center;

}
.navRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.material-symbols-outlined {
  width: 50%;
}

.navRight-a {
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.loginbutton {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
}


.footer-container {
  
  background: #404143;
  width: 1440ps;
  height: 50px;
  display: flex;
  align-items: center;
}

.footer-text {
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  font-size: 25px;
  padding-left: 30px;

}