
  @import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Jockey One', sans-serif;

    
}

body {
    background-image: url('https://news.mit.edu/sites/default/files/images/202206/MIT-Labby-01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

.colorBack {
    background-color: rgba(0, 0, 0, 0.5);
    height: 776px;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first_text {
    font-family: 'Jockey One', sans-serif;

    padding-top: 250px;
    font-size: 50px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #fff;
}

.second_text {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #fff;
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 0px;
}

.third_text {
    font-size: 40px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #fff;
    padding-top: 0px;
    padding-bottom: 100px;
}

.login_btn {
    background-color: #3BE857;
    font-size: large;
    
    border: none;
    color: #fff;
    width: 100px;
    height: 35px;
    border-radius: 15px;
}