
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content_pin {
    height: 100vh;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    
    flex-direction: column;
    
  }
.content {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
}
table {
    margin-top: 2rem;
}
table,th, td {
    border:1px solid black;
    font-size: 20px;
}
th {
    background-color: black;
    color: white;
}
td {
    background-color: aliceblue;
    color: black;
    text-align: center;
}
